@font-face {
  font-family: BungeeShade;
  font-weight: regular;
  src: url("fonts/bungee_shade.ttf"),
       url("fonts/bungee_shade.eot"),
       url("fonts/bungee_shade.woff"),
       url("fonts/bungee_shade.woff2");
}
